::-webkit-scrollbar { 
	display: none; 
}

#page {
	width: 100%; 
	height: 100%;    
	overflow: hidden;
	position:relative
}

#marker{
	display: none;
	position: absolute;
	left: 0px;
	right: 0px;
	width: 10px;
	height: 10px;
	background-color: rgba(244, 66, 179,1);
}